page-user-info {
  .card{
    background: #AAA;
    border-bottom: 2px solid black;
    padding:5px;
    box-shadow: 10px 10px 8px #777;
  }
  .right{
    float:right;
  }
  button{
    margin-left:40%;
  }
}
